.leaderboard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-items: center;
    mat-card {
        display: grid;
        grid-template-columns: 20px 120px 20px 20px 20px 20px 40px;
        gap: 16px;
        width: 388px;
    }
    mat-card.current-game {
        grid-template-columns: 20px 120px 20px 20px 20px 20px 60px 40px;
        width: 444px;
    }
    mat-card.current-game.two-current-games {
        grid-template-columns: 20px 120px 20px 20px 20px 20px 60px 60px 40px;
        width: 504px;
    }
}
.header {
    background-color: #f5f5f5;
}
.current-user {
    background-color: #e0e0e0;
}
.first-place {
    background-color: #ffd700;
}
.second-place {
    background-color: #c0c0c0;
}
.third-place {
    background-color: #cd7f32;
}