.games {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-items: center;
}
.card {
    width: 328px;
    .info-text {
        margin-top: 24px;
        display: block;
    }
}