<div class="header">
    <h1>WM Tippspiel 2022</h1>
    <button mat-flat-button color="secondary" (click)="logout()" class="logout">Logout</button>
</div>
<mat-tab-group *ngIf="!showSpinner; else spinner">
    <mat-tab label="Rangliste">
        <app-leaderboard [leaderboard]="leaderboard"></app-leaderboard>
    </mat-tab>
    <mat-tab label="Deine Tipps">
        <app-bets></app-bets>
    </mat-tab>
    <mat-tab label="Regeln">
        <div class="rules">
            <h1 class="center-align">Regeln</h1>
            <div class="center-align">Pro Spiel kann ein Tipp abgegeben werden. Dieser kann jeweils bis zum Beginn des Spiels noch verändert werden. Pro Spiel werden dabei die folgenden Punkte vergeben:</div>
            <h2 class="center-align">Punkte</h2>
            <div class="center-align">Richtiger Sieger, respektive Unentschieden: 3 Punkte</div>
            <div class="center-align">Richtige Tordifferenz: 1 weiterer Punkt</div>
            <div class="center-align">Richtige Anzahl Tore beider Teams: 1 weiterer Punkt</div>
            <h2 class="center-align">Beispiele</h2>
            <div class="center-align">Beispiel 1: Deutschland spielt gegen Frankreich. Deutschland gewinnt mit 2:1. Der Tipp ist Deutschland gewinnt mit 2:1. Der Tipp ist richtig, da Deutschland gewonnen hat. Dies ergibt drei Punkte. Zudem stimmt die Tordifferenz, was ein weiterer Punkt einbringt. Zusätzlich wird noch ein Punkt für die richtige Anzahl Tore beider Teams vergeben. Dies ergibt ein total von 5 Punkten für dieses Spiel.</div>
            <div class="center-align">Beispiel 2: Deutschland spielt gegen Frankreich. Deutschland gewinnt mit 2:1. Der Tipp ist Frankreich gewinnt mit 3:0. Da Deutschland nicht gewonnen hat, ergibt dieser Tipp keine Punkte.</div>
            <h2>Weltmeister</h2>
            <div>Zusätzlich kann noch auf den Weltmeister gesetzt werden. Der Weltmeister kann bis zum Beginn des ersten Spiel des Turniers getippt werden. Ist der Tipp korrekt, werden 10 Punkte vergeben.</div>
        </div>
    </mat-tab>
</mat-tab-group>
<ng-template #spinner>
    <div class="full-page">
        <div *showSpinner="true"></div>
    </div>
</ng-template>