<div *ngIf="bet$ | async as bet" class="world-champion">
    <form *ngIf="!isOther && (isAdmin || bet.editable); else readOnly">
        <mat-form-field>
            <mat-label>Weltmeister</mat-label>
            <mat-select formControlName="worldChampion" (selectionChange)="save($event.value)">
                <mat-option *ngFor="let team of getTeams()" [value]="team">
                    {{ team }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <ng-template #readOnly>
        <h3>{{ 'Tipp: ' }} {{ bet.worldChampion === '' ? '-' : bet.worldChampion }}</h3>
    </ng-template>
</div>