<div class="full-page">
    <h1 class="center-align">WM Tippspiel 2022 - Login</h1>
    <form *ngIf="!showSpinner; else spinner" [formGroup]="form" class="one-row">
        <mat-form-field appearance="outline">
            <mat-label>Benutzername</mat-label>
            <input matInput type="text" formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Passwort</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit" (click)="login()" [disabled]="!form.valid || !form.dirty">Login</button>
        <button mat-flat-button color="secondary" (click)="signup()">Registrieren</button>
    </form>
    <ng-template #spinner>
        <div>
            <div *showSpinner="true"></div>
        </div>
    </ng-template>
</div>