<mat-card class="card">
    <div *ngIf="!isAdmin" class="matchup">
        <h3><span [class]="'flag-icon flag-icon-' + countryToIso2Code(bet?.team1!)"></span></h3>
        <h3>{{ bet?.team1 }}</h3>
        <h3>-</h3>
        <h3 class="right-align">{{ bet?.team2 }}</h3>
        <h3><span [class]="'flag-icon flag-icon-' + countryToIso2Code(bet?.team2!)"></span></h3>
    </div>
    <mat-divider></mat-divider>
    <form *ngIf="!isOther && (isAdmin || bet?.editable); else readMode" [formGroup]="form">
        <div *ngIf="isAdmin" class="matchup">
            <div></div>
            <mat-form-field>
                <input matInput type="text" formControlName="team1" (change)="save()">
            </mat-form-field>
            <h3>-</h3>
            <mat-form-field>
                <input matInput type="text" formControlName="team2" (change)="save()">
            </mat-form-field>
            <div></div>
        </div>
        <div class="edit">
            <div></div>
            <mat-form-field>
                <input matInput type="number" formControlName="score1" (change)="save()">
            </mat-form-field>
            <h2>:</h2>
            <mat-form-field>
                <input matInput type="number" formControlName="score2" (change)="save()">
            </mat-form-field>
            <div></div>
        </div>
    </form>
    <ng-template #readMode>
        <div *ngIf="(isOther && !bet?.editable) || !isOther; else readonlyOther" class="readonly">
            <div></div>
            <h2 class="center-align">{{ bet?.score1 }}</h2>
            <h2>:</h2>
            <h2 class="center-align">{{ bet?.score2 }}</h2>
            <div></div>
        </div>
        <ng-template #readonlyOther>
            <div class="info center-align not-available">
                {{ 'nicht verfügbar' }}
            </div>
        </ng-template>
    </ng-template>
    <mat-divider></mat-divider>
    <div class="space"></div>
    <div class="info center-align details">
        {{ bet?.editable || isAdmin ? (bet?.date | date: 'dd.MM.yyyy - HH:mm') : bet?.real1 + ' : ' + bet?.real2 + ' (' + bet?.points + ' Punkte)' }}
    </div>
</mat-card>