<form *ngIf="bet?.editable; else readMode" [formGroup]="form" class="bet">
    <h3>{{ bet?.team1 }}</h3>
    <h3>-</h3>
    <h3>{{ bet?.team2 }}</h3>
    <mat-form-field>
        <input matInput type="number" formControlName="score1" (change)="save()">
    </mat-form-field>
    <h2>:</h2>
    <mat-form-field>
        <input matInput type="number" formControlName="score2" (change)="save()">
    </mat-form-field>
</form>
<ng-template #readMode>
    <div class="bet">
        <h3>{{ bet?.team1 }}</h3>
        <h3>-</h3>
        <h3>{{ bet?.team2 }}</h3>
        <h2>{{ bet?.score1 }}</h2>
        <h2>:</h2>
        <h2>{{ bet?.score2 }}</h2>
    </div>
</ng-template>