<mat-tab-group *ngIf="bets$ | async as bets" class="margin-top-16">
    <mat-tab label="Gruppenspiele - Runde 1">
        <app-bets-games [games]="filter(bets, 'first-round')"></app-bets-games>
    </mat-tab>
    <mat-tab label="Gruppenspiele - Runde 2">
        <app-bets-games [games]="filter(bets, 'second-round')"></app-bets-games>
    </mat-tab>
    <mat-tab label="Gruppenspiele - Runde 3">
        <app-bets-games [games]="filter(bets, 'third-round')"></app-bets-games>
    </mat-tab>
    <mat-tab label="Achtelfinale">
        <app-bets-games [games]="filter(bets, 'eighth-finals')"></app-bets-games>
    </mat-tab>
    <mat-tab label="Viertelfinale">
        <app-bets-games [games]="filter(bets, 'quarter-finals')"></app-bets-games>
    </mat-tab>
    <mat-tab label="Halbfinale">
        <app-bets-games [games]="filter(bets, 'semi-finals')"></app-bets-games>
    </mat-tab>
    <mat-tab label="Finale">
        <app-bets-games [games]="filter(bets, 'final')"></app-bets-games>
    </mat-tab>
</mat-tab-group>